.card{
    overflow: hidden;
    filter: drop-shadow(0px 0px 5px #d1d1d1);
    border-radius: 15px;
    font-weight:600 ;
}
.card h4{
    text-align: left;
    padding: 1rem 1.5rem;
    background-color: #D0F7FA;
}
.card section div{
    padding: 1.2rem 0;
    text-align: left;
    border-bottom: 1px solid rgb(198, 198, 198);
}
.card section{
    width: 90%;
    margin: auto;
    font-size: 0.9rem;
}